@charset "UTF-8";
header, section, body, footer, aside, nav, article, figure{
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body, html{
	height: 100%;
}

/* ******************************************************************************** */

.a_1{/*header*/
	display: block;
	display: flex;/*para centrar verticalmente el div hijo*/
	align-items: center;/*para centrar verticalmente el div hijo*/
}
.button_1{/*vitrina*/
	background-color:rgb(78, 43, 43);
	color: white;
	padding: 5% 10%;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	margin: 0px !important;
}
.button_2{/*vitrina*/
	background-color:rgb(78, 43, 43);
	color: white;
	padding: 5% 10%;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	margin: 0px !important;
}
.header_1{/*header*/
	background-color: brown;
	height: 15%;
	display: flex;/*para centrar verticalmente el div hijo*/
	align-items: center;/*para centrar verticalmente el div hijo*/
	position: fixed;
	width: 100%;
}
.contenedor_1{/*header*/
	margin-left: 10%;
	display: flex;/*para centrar verticalmente el div hijo*/
	align-items: center;/*para centrar verticalmente el div hijo*/
}
.contenedor_3{/*header*/
	width: 100%;
	display: grid;
	grid-template-columns: 85fr 15fr;
}
.contenedor_4{/*inicio*/
	width: 80%;
	margin:3% auto;
}
.contenedor_5{/*inicio*/
	margin-bottom: 8%; 
	display:none
}
.contenedor_6{/*inicio*/
	margin-bottom: 3%;
}
.contenedor_7{/*footer*/
	background-color: rgb(53, 180, 14);
	margin-top: 5%;
	min-height: 35%;
}
.contenedor_8{/*footer*/
	margin-top: 5% !important;
	margin: auto;
}
.contenedor_9{/*inicio*/
	display: grid;
	grid-template-columns: 95fr 5fr;
}
.contenedor_10{/*vitrina*/
	display: grid;
	grid-template-columns: 35fr 35fr 35fr;
	grid-column-gap: 3%;
	grid-row-gap: 5%;
	width: 100%;
	margin: auto;
}
.contenedor_11{/*vitrina*/
	display: grid;
	grid-template-columns: 50fr 50fr;
	grid-template-rows: 40fr 5fr ;
	height: 300px;
	margin: 2%;
	margin-bottom: 0px;
}
.contenedor_11:hover{/*vitrina*/
	background-color: rgba(165, 42, 42, 0.3);
	cursor: pointer;
	border-radius: 15px;
}
.contenedor_12{/*vitrina*/
	grid-column-start: 1;
	grid-column-end: 3;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin: 2% auto;
	width: 95%;
	max-height: 100%;
}
.contenedor_13{/*opciones*/
	background-color: rgb(239, 245, 245);
	width: 25%;
	margin:2% auto;
	padding: 1%;
	border-radius: 15px;
}
.contenedor_14{/*vitrina*/
	background-color: rgba(165, 42, 42, 0) !important;
	display: none;
	/* grid-template-columns: 50fr 50fr;
	grid-row-gap: 20%; */
	margin: 2%;
	margin-top: 0%;
	padding-bottom: 1%;
	padding-right: 2%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.contenedor_15{/*vitrina*/
	border-radius: 15px;
}
.contenedor_16{/*vitrina*/
	text-align: right;
	margin-top: 4%;
}
.contenedor_17{ 
	height:35px
}
.contenedor_18{/*vitrina*/ 
	grid-column-start: 1;	
	grid-column-end: 4; 
	margin:2% auto;
	width: 100%;
}
.contenedor_19{
	display: grid;
	grid-template-columns: 50fr 50fr;
}
.footer{
	padding-top: 2%;
}
.h2_1{/*inicio*/
	font-size: 1.2em;
}
.h2_1:hover, .span_3, .span_4{
	cursor: pointer;
}
.h4_1{/*footer*/
	color: white;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	padding-top: 0.5%;
}
.h5_1{/*footer*/
	color: white;
	text-align: center;
	font-size: 1.1em;
}
.input_1{/*vitrina*/
	border: none;
	text-align: right;
	padding-right: 5%;
}
.input_2{/*vitrina*/
	background-color:rgb(44, 29, 29) ;
	color: white;
	border: none;
	margin: -5px !important;
	width: 30%;
	text-align: center;
	padding: 5%;
}
.input_3{/*vitrina*/
	background-color: rgba(165, 42, 42, 0);
	font-weight: bold;
	padding: 2%;
	border: none;
}
.input_4{/*vitrina*/
	display: block;
	border: none;
	border-radius: 5px;
	width: 80%;
	text-align: center;
	font-size: 1.1em;
	padding: 1%;
	margin: 2% auto !important;
}
.label_1{/*vitrina*/
	font-weight: bold;
	width: 30%;
	padding-left: 10%;
}
.label_2{/*vitrina*/
	font-weight: bold;
	padding-right: 10%;
}
.label_1c{/*vitrina*/
	background-color: rgba(165, 42, 42, 0);
	font-weight: bold;
	border: none;
	line-height: 35px;
	height: 35px;
}
.label_3{/*vitrina*/
	display: block;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	margin: 5% !important;
}
.label_4{/*opciones*/	
	background-color: rgb(31, 161, 118);
	color:white ;
	margin: 3% auto;
	text-align: center;
	display: block;
	width: 60% !important;
	font-size: 1em;
	font-weight: bold;
	padding: 2%;
	border-radius: 10px;
}
.label_4:hover{/*vitrina*/	
	background-color: rgb(19, 102, 74);
	cursor: pointer;
}
.label_5{/*vitrina*/
	width: 60% !important;
	text-align: center;
	margin-left: auto;
	display: block;
	font-size: 1em;
	background-color: rgb(78, 43, 43);
	color: white;
	padding: 2%;
	cursor: pointer;
	border-radius: 10px;
}
.section_2{/*inicio*/
	padding-top: 10%; 
}
.section_3{/*vitrina*/
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0vw;
	left: 0vh;
	width: 100%;
	height: 100%;
}
.span_1{/*header*/
	color: white;
	display: inline-block;
	margin-left: 5%;
}
.span_2{/*header*/
	font-size: 1.1em !important;
	padding: 7%;
	background-color: rgb(238, 157, 164);
	border-radius: 10px;
}
.span_3{/*inicio*/
	float: left;
	font-size: 1.5em;
	margin-right: 1%;
}
.span_4{/*inicio*/
	float: left;
	font-size: 1.2em;
	margin-right: 1%;
}
.span_5{/*vitrina*/
	font-weight: bold;
	font-size: 1.3em;
	position: relative;
	left: 95%;
}
.span_5:hover{/*vitrina*/
	cursor: pointer;
}