@charset "UTF-8";
 body, section, article, header, footer, aside, nav, figure, div{
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, legend{
	cursor: default;
	margin: 0;
}
select{
	background-color: white;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	box-sizing: border-box;
}
a{
	color: var(--Enlaces);
	text-decoration: none;
}
body, html{
	height: 100%;
}

/* ******************************************************************************** */
	/* DECLARACION DE VARIABLES */
:root{ 
	--FondoDivModal: rgba(0, 0, 0, 0.8);
	--OficialOscuro: rgb(51, 51, 51);
	--OficialClaro: rgb(239, 245, 245);
	--Fallos: rgba(255, 0, 0, 0.3);
	--Aciertos: rgba(0, 0, 255, 0.2);
	--footer: rgb(233, 215, 215);
	--Enlaces: rgb(24, 24, 238);
	--BandaAlerta: orange;
	--BordeClaro: rgba(51, 51, 51, 0.2)
}

/* ******************************************************************************** */
button{/*tiendas*/
	/* background-color: white;
	border: none;
	width: 100% */
}
.bandaAlerta{/*modal_fueraHorario*/
	background-color: var(--BandaAlerta);
	padding: 1%;
	border-radius: 15px;
}
.a_1{/*header*/
	text-align: center;
	display: block;
	color: white;
	font-size: 2em;
}
.a_2{/*inicio*/
	background-color: var(--OficialClaro);
	color: var(--OficialOscuro);
	font-size: 1.5em;
	border-radius: 10px;
	text-align: left !important;
	padding: 0.1% 1% 0.1% 1.5%;
	letter-spacing: 0.5em;
}
.a_2:hover{/*inicio*/
	cursor: pointer;
}
.a_3{/*header - header_inicio*/
	color:white;
	width: 30%;
	text-align: center;
}
.a_4{/*header_AfiCom*/
	display: none;
}
.a_5{/*entrada*/
	font-size: 0.8em;
}
.a_5:hover{/*entrada*/
	background-color: rgba(51, 51, 51, 0.2);
	border-radius: 15px;
	padding: 1%;
}
.a_6{/*cuenta_editar - recibePedido*/
	display: block;
}
.a_7{/*header_Tienda*/
	position: absolute;
	bottom: 2pt;
	width: 100%;
	left: 0%;
	color: white;
	font-size: 3em;
	text-align: center;
}
.a_8{/*header_Tienda*/
	color: white;
	font-size:1.4em
}
.a_9{/*cuenta_productos*/
	display: inline-block;
	font-size: 0.8em;
}
.a_9:hover{/*cuenta_productos*/
	background-color: rgb(239, 245, 245);
}
.a_11{/*header_tienda - recibePedido*/
	text-align: center;
}
.activo{/*header*/
	/* background-color: orange; */
}
.ancla_2{/*cuenta_editar*/
	display: block;
	content: "marcador ";
	margin-top: -5%;
	height: 50px;
	visibility: hidden;
}
.aside_1{/*vitrina*/
	position: fixed;
}
.Blink{/*header*/
	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(.5, 0, 1, 1);
	animation-iteration-count: 4;
}
	@keyframes blinker {/*efecto parpadeo*/
	from{
			opacity: 1;
		}
	to{
		opacity: 0;
		}
	}
.boton{/*carrito - recibePedido - login - afiliacion - registroCom - Categoria_Ajax - descr_Producto*/
	background-color: var(--OficialOscuro);
	width: 190px;
	height: 30px;
	line-height: 30px;
	color: white;
	display: inline-block;
	border: none;
	text-align: center;
	border-radius: 10px;
}
.boton:hover{
	background-color: var(--OficialClaro);
	cursor: pointer;
	color: var(--OficialOscuro);
	border-color: var(--OficialOscuro);
	border-width: 1px;
	border-style: solid;
}
.boton--alto{/*afiliacion - carrito */ 
	height: 45px;
	line-height: 45px;
}
.boton--altoDosLinneas{/*afiliacion*/ 
	height: 45px;
	line-height: 20px;
}
.boton--centro{/*carrito*/
	display: block;
	margin: auto;
}
.borde_1{/*tiendas - vitrina - cuenta_editar_prod - cuenta_editar - carrito*/
	border-color: var(--BordeClaro);
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
}
.borde_2{/*registroCom - cuenta_publicar - cuenta_editar - login - */
	border-radius: 15px;
}
.borde_bottom{/*carrito*/
	border-bottom-color: var(--OficialOscuro);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.br_1{/*modal_fueraHorario*/
	margin: 5%;
}
.br_2{/*carrito*/
	display: none;
}
.comandoMenu_2{/*header_inicio - header_AfiCom - header - header_Tienda*/
	display: none;
}
.contador{/*cuenta_publicar*/
	width: 7% !important;
	margin-left: 93% !important;
	color: rgba(51, 51, 51, 0.6);
	border: none;
	line-height: 10px;
	font-size: 0.8em;
	text-align: right;
}
.contador_2{/*cuenta_editar - quienesSomos - registroCom*/
	width: 9% !important;
	margin-left: 93% !important;
	color: rgba(51, 51, 51, 0.6);
	border: none;
	font-size: 0.8em;
	text-align: right;
	margin-bottom: 1%;
}
.contador_4{/*quienesSomos - registroCom*/
	margin-left: 85% !important;
}
.contenedor_1{/*header*/
	padding: 3%;
	width: 33%;
}
.contenedor_2{/*tiendas*/
	width: 100%;
	height: 300px;
	margin: 2%;
	margin-bottom: 0px;
}
.contenedor_2:hover{/*tiendas*/
	background-color: rgba(165, 42, 42, 0.3);
	cursor: pointer;
	border-radius: 15px;
}
.contenedor_4{/*inicio - RecibePedido*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	margin:3% auto;
}
.contenedor_5{/*inicio*/
	margin: auto;
	margin-top: 3%;
	margin-bottom: 8%;
	display: none;
	width: 80%;
}
.contenedor_6{/*inicio*/
	width: 20%;
	margin: 2%;
	height: 150px;
	border-radius: 15px;
}
.contenedor_6:hover{/*inicio*/
	background-color: var(--OficialClaro);
	cursor: pointer;
}
.contenedor_7{/*footer*/
	background-color: var(--footer);
	position: relative;
	height: 100%;
}
.contenedor_8{/*footer */
	margin: auto;
	position: absolute;
	width: 100%;
	bottom: 1pt;
	padding: 0.5% 0%;
}
.contenedor_9{/*cuenta_productos - vitrina*/
	border-radius: 15px;
	text-align: center;
	width: 100%;
	padding: 1%;
	margin: auto;
	cursor: pointer;
}
.contenedor_9--pointer{/*cuenta_productos - vitrina*/
	cursor: default;
}
.contenedor_10{/*tiendas - afiliacion*/
	display: grid;
	grid-template-columns: 35fr 35fr 35fr;
	grid-template-rows: min-content;
	column-gap: 3%;/*espacio entre columnas*/
	row-gap: 5%;/*espacio entre filas*/
	margin: 9% auto 4% auto;
	width: 85%;
	height: 92%;
}
.contenedor_11{/*vitrina*/
	margin-bottom: 20%; 
	text-align: center;
}
.contenedor_11a:hover{/*vitrina*/
	background-color: rgba(87, 85, 85, 0.3) !important;
	cursor: pointer;
	border-radius: 15px;
}
.contenedor_12{/*descargaApp*/
	background-color: var(--OficialClaro);
	border-radius: 15px;
	margin: 3% auto 5% auto;	
	width: 70%;
}
.contenedor_13{/*opciones - cuenta_productos*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	flex-wrap: wrap;
	align-content: flex-start; /*Rompe la distribución proporcional vertical y coloca los div hijos desde el top, la distribucion vertical proporcional ocurre cuando el contenedor general tiene altura de 100%*/
	width: 90%;
	margin: auto;
	border-radius: 15px;
	justify-content: space-between; 
	margin-top: 12%;
}
.contenedor_14{/*opciones*/
	display: none;
	/* grid-template-rows: 0px; */
	height: 20px;
	grid-column-start: 1;
	grid-column-end: 3;
}
.contenedor_15{/*tiendas*/
	width: 90%;
	margin: auto;
	border-radius: 15px; 
	text-align: center;
	z-index: 2; /*verificar - se colocó para ver si todo el div se pone por arriba de los elementos hijos y no se ve el efecto click sobre estos en responsive; esto en realidad se soluciona con teoria de niveles de apilamiento, como se hizo con los div que contienen las categorias en inicio_V.php que al hacer click sobre los que no tienen tiendas no llevan a la categoria en cuestión*/
}
.contenedor_15:hover{
	background-color: var(--OficialClaro);
	cursor: pointer;
}
.contenedor_16{/*opciones*/
	width: 20%;
	position: relative;
	top: -45px;
	left: 75%;
	text-align: right;
}
.contenedor_17{/*tiendas*/
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	margin: 0% auto ;
}
.contenedor_17>div:first-child{/*tiendas*/
	flex: 0 1 100% !important;/*ocupa toda la primera fila de la distribucion flex, el padre debe tener flex-wrap*/
}
.contenedor_18{/*vitrina*/
	grid-column-start: 1;
	grid-column-end: 4;
	margin:2% auto;
	width: 100%;
}
.contenedor_19{/*opciones*/
	width: 100%; 
	float: left;
}
.contPedido{/*carrito*/
	width: 100%;
	padding-bottom: 4%;
}
.contenedor_21:hover{/*opciones - vitrina*/
	cursor: pointer;
}
.contenedor_22{/*header.php*/
	width: 33%;
}
.contenedor_23{/*header.php*/
	width: 33%;
}
.contenedor_24{/*carrito - Categorias_Ajax - cuenta_editar - Secciones_Ajax - modal_fueraHorario*/
	background-color: var(--OficialClaro);
	width: 70%;
	margin: 2% auto;
	padding: 1%;
	border-radius: 15px;
}
.contenedor_27{/*carrito - cuenta_editar*/
	display: none;
	margin: 2% auto !important;
}
.contenedor_29{/*carrito*/
	width: 50%;
	/* font-size: 1.2em; */
}
.contenedor_31{/*vitrina - opciones*/
	background-color: var(--OficialOscuro);
	border-radius: 10px;
	margin: auto;
	display:flex ;
	justify-content: center;
	width: 70%;
	border-color: yellow;
	border-width: 2px;
	border-style: solid;
}
.contenedor_32{/*header*/
	background-color: var(--OficialOscuro);
	border-radius: 10px;
	padding: 2%;
	margin-left: auto;
	margin-right: 20%;
	width: 10%;
}
.contenedor_33{/*login - RecibePedido*/
	width: 30%;
	margin: 2% auto;
	text-align: center;
}
.contIconoBuscador{/*header_inicio*/
	background-color: var(--OficialClaro);
	color: var(--OficialOscuro);
	position: fixed;
	top: 15%;
	left: 93%;
	border-radius: 10px;
	padding: 1%;
	width: 4%;
	z-index: 4 !important;
}
.contIconoBuscador:hover{/*header_inicio*/
	cursor: pointer;
}
.contenedor_35{/*header_inicio - header_AfiCom*/
	background-color: var(--OficialOscuro);
	width: 100%;
	height: 5%;
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-around;
	position: absolute;
	padding: 0.5% 0%;
}
.contenedor_36{/*inicio*/
	display: grid;
	grid-template-columns: 80%;
}
.contenedor_37{/*inicio*/
	position: absolute;
	top: 15%;
	left: 3%;
}
.contenedor_38/*afiliacion*/{
	height: 70%;
}
.contenedor_39{/*RecibePedido - registro*/
	height: 100%;
}
.contenedor_41{/*afiliacion*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-around;
	width: 50%;
	margin-left: 25%;
}
.contenedor_42{/*registroCom - registroDes - login - cuenta_editar - cuenta_publicar - afiliacion - noConformidad*/
	width: 80%;
	margin: auto;
	margin-top: 10%;
}
.contenedor_43{/*login - registroCom*/
	display: none;
}
.contenedor_45{/*login - cuenta_editar*/
	width: 100%;
	margin: 1% auto;
	text-align: center;
}
.contenedor_47{/*cuenta_publicar - cuenta_editar_prod*/
	display: grid;
	grid-template-columns: 30% 60%;
	column-gap: 3%;/*espacio entre columnas*/
	width: 60%;
	margin: auto;
	padding-top: 1%;
	height: min-content;
}
.contenedor_48{/*afiliacion*/
	position: initial !important;
	margin-top: 3%;
}
.contenedor_49{/*cuenta_publicar - cuenta_editar_prod*/
	width: 100%;
	margin: 15% auto;
	text-align: right;
}
.contenedor_50{/*login*/
	width: 40%;
	margin: 5% auto;
	text-align: center;
}
.contenedor_51{/*inicio - ciudad*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-around;
	align-items: center;
	width: 60%;
	margin-left: 20%;
	position: absolute;
	top: 70%;
	left: 0%;
	flex-direction: row;
	flex-wrap: wrap;
}
.contenedor_51>div:last-child{/*inicio*/
	flex: 0 1 100% !important;/*ocupa toda la primera fila en la distribucion flex*/
}
.contenedor_55{/*carrito*/
	width: 60%;
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-around;
}
.contenedor_58{/*inicio*/
	background-color: white;
	display: none;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
	margin: auto;
	border-radius: 15px;
	padding: 1%;
	text-align: center;
	align-content: flex-start; 
}
.contenedor_61{/*vitrina*/
	background-color: var(--OficialOscuro);
	visibility: hidden;/*con esta forma de ocultar se mantiene el area del elemento ocupada, se usa porque ya existe el display flex para este elemento*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-around;
	align-items: center;/*para centrar verticalmente el div hijo junto con display flex*/
	position: fixed;
	bottom: 0 !important;
	width: 20%;
	margin-left:40%;
	border-top-left-radius: 80px 60px;
	border-top-right-radius: 80px 60px;
	height: 6%;
	z-index: 1;
}
.contenedor_64{/*carrito*/
	/* float: left;
	padding: 1%;
	margin-left: 2%;
	width: 50%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--OficialOscuro);
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: var(--OficialOscuro); */
}
.contenedor_66{/*registroCom - registroDes*/
	text-align: center;
	width: 70%;
	margin: 5% auto 15% auto;
}
.contenedor_67{/*cuenta_editar*/
	padding: 5% 2%;
	border-radius: 15px;
	margin: 1% auto 5% auto !important;
}
.contenedor_69{/*tiendas - header - header_AfiCom - header_inicio*/
	background-color: var(--OficialOscuro);
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 13%;
	z-index: 3 !important;
}
.contenedor_70{/*afiliacion - cuenta_ventas*/
	width: 95%;
}
.contenedor_71{/*afiliacion*/
	grid-column-start: 1;
	grid-column-end: 4;
	padding-bottom: 2%;
	margin-top: 7%;
}
.contenedor_72{/*carrito*/
	width: 100%;
	/* margin: 0% auto !important; */
}
.contenedor_73{/*ciudad*/
	border-radius: 15px;
	width: 30%;
	min-height: 100%;
	margin: 1% auto;
	padding: 1%;
	/* padding-left: 4%; */
}
.contenedor_77{/*Categorias_Ajax_V.php*/
	margin:5% auto 1% auto;
	text-align: center;
	width: 30%;
}
.contenedor_78{/*Categorias_Ajax - Secciones_Ajax*/
	/* width: 90%;
	margin: auto; */
}
.contenedor_80{/*cuenta_editar - cuenta_publicar - cuenta_editar_prod*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-between;
	font-size: 1em;
}
.contenedor_80A{/*cuenta_editar*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-between;
	font-size: 1em;
	position:absolute; 
	z-index:-1; 
	top:0%; 
	left:0%
}
.contenedor_81{/*cuenta_publicar*/
	text-align: center;
	width: 60%;
}
.contenedor_83{/*cuenta_editar*/
	background-color: var(--OficialClaro);
	padding: 1%;
	padding-right: 2%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	position: fixed;
	top: 20%;
	left: 83%;
	width: 18%;
}
.contenedor_84{/*cuenta_editar - afiliacion*/
	display: grid;
	grid-template-columns: 17% 17% 17% 17% 17%;
	grid-template-rows: min-content !important;
	column-gap: 3%;/*espacio entre columnas*/
	justify-content: center;/*centra horizontalmente*/
}
.contenedor_84--100{/*modal_Secciones*/
	width: 100%;
}
.contenedor_84__h2{/*modal_Secciones*/
	height: 30px;
}
.contenedor_85{/*cuenta_editar*/
	display: grid;
	grid-template-columns: 25% 70%;
	grid-template-rows: min-content;
	column-gap: 5%;/*espacio entre columnas*/
}
.contenedor_86{/*cuenta_editar*/
	border-right-color: var(--OficialOscuro);
	border-right-width: 1px;
	border-right-style: solid;
}
.contenedor_87{/*cuenta_editar*/
	grid-column-start: 1;
	grid-column-end: 6;
	text-align: center;
}
.contenedor_88{/*inicio*/
	position: absolute;
	bottom: 0pt;
	width: 100%;
	height: 7%;
	background-color: var(--OficialOscuro);
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: center;
	align-items: center;
}
.contenedor_89{/*Secciones_Ajax*/
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
	column-gap: 1%;/*espacio entre columnas*/
	justify-content: center;/*centra horizontalmente*/
}
.contenedor_90{/*tiendas - opciones - cuenta_productos*/
	background-color: var(--OficialClaro) ;
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 13%;
	left: 0%;
	width: 100%;
	height: 30px!important;
	z-index: 2 !important;
}
.contenedor_91{/*cuenta_productos*/
	display: block;
	height: 35px !important;
}
.contenedor_93{/*afiliacion*/
	background-color: var(--OficialClaro);
	padding-top: 3%;
	width: 90%;
	margin: 2% auto;
	border-radius: 15px;
}
.contenedor_93 > div:first-child{/*afiliacion*/	
	/* grid-column-start: 1;
	grid-column-end: 6; */
}
.contenedor_95{/*cuenta_productos - opciones*/
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 5%; /*espacio entre columnas*/
	width: 32%;
	max-height: 150px;
	margin-bottom: 8%;
}
.contenedor_96{/*cuenta_productos*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	width: 100%;
	margin: 1% auto;
	justify-content: space-around;
}
.contenedor_97{/*opciones*/
	/* height: 100%; */
	/*display: flex; Organiza los elementos horizontalmente*/ 
	/* align-items: center;
	justify-content: center;  */
}
.contenedor_98{/*footer*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-between;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 12%;
	z-index: 6;
}
.contenedor_98:hover{/*footer*/
	cursor: pointer;
}
.contenedor_98 > div > h3{/*footer ; este selector aplica la propiedad al hijo del contenedor*/
	cursor: pointer;
}
.contenedor_99{/*afiliacion*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-between; /*distribucion horizontal*/
	margin: 5% auto;
	width: 13% !important;
	padding: 0.5%;
	border-radius: 10px;
}
.contenedor_100{/*pwa*/
	width: 17% !important;
}
.contenedor_102{/*Secciones_Ajax - Categorias_Ajax - inicio*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: center;
	align-items: center;
	width: 100%;
}
.contenedor_103{/*cuenta_productos - login*/
	background-color: var(--OficialClaro);
	width: 80%;
	margin: 9% auto;
	padding: 2%;
	border-radius: 15px;
}
.contenedor_104{/*login*/
	width: 100%;
	margin: 5% auto;
	display: grid;
	grid-template-columns: 25% 75%;
}
.contenedor_105{/*cuenta*/
	width: 100%;
	position: absolute;
	left: 0%;
	bottom: 5px;
}
.contenedor_106{/*inicio*/
	position: relative;
	bottom: 10px;
}
.contenedor_108{/*cuenta_editar*/
	padding-bottom: 10%;
}
.contenedor_109{/*vitrina*/
	display: none;
}
.contenedor_110{/*vitrina*/
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	justify-content: space-around;
	width: 80%;
	margin: 9% auto;
}
.contenedor_112{/*cuenta*/
	background-color:  var(--OficialClaro);
	padding: 2%;
	width: 50%;
	margin: auto;
	border-radius: 15px;
	margin: 12% auto 7% auto;
}
.contenedor_113{/*cuenta - descargaApp*/
	width: 80%;
	margin: auto;
	margin-bottom: 2%;
}
.contenedor_114{/*cuenta_editar_prod*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	margin: 10% auto 5% auto;
	text-align: center;
}
.contenedor_115{/*Secciones_Ajax*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	align-items: center;
	width: 100%;
}
.contenedor_116{/* header_inicio*/
	height: 10%;
}
.contenedor_119{/*cuenta_publicar - cuenta_editar_prod - cuenta_editar*/
	width: 60%;
	height: 150px;
	margin: 5% auto !important;
	text-align: center;
}
.contenedor_120{ /*tiendas*/ 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 170px;
	vertical-align: middle;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.contenedor_121{/*cuenta_editar_prod*/
	width: 50%;
	margin-top: 5% !important;
}
.contenedor_122{/*descr_Producto*/
	margin: auto;
	margin-top: 8%;
	margin-bottom: 6%;
	display: grid;
	width: 90%;
	grid-template-columns: 50fr 50fr;
	column-gap: 3%;
}
.contenedor_124{/*descr_Producto*/
	overflow: hidden;
}
.contenedor_125{/*descr_Producto*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	text-align: center;
	width: 100%; 
}
.contenedor_127{/*descr_Producto*/
	padding: 2% 2% 2% 5%;
}
.contenedor_128{/*cuenta_publicar*/
	display: none;
}
.contenedor_129{/*cuenta_publicar*/
	height: 160px; 
	text-align: center
}
.contenedor_130{/*cuenta_publicar*/
	margin-top: 5%;
	text-align: center;
}
.contenedor_131{/*tiendas*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	align-items: center;/*para centrar verticalmente el div hijo junto con display:flex*/
	height: 30px;
}
.contenedor_132{/*tiendas*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
}
.contenedor_133{/*headerProducto*/
	background-color: var(--OficialOscuro);
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 60px;
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: center;
	align-items: center; /*para centrar verticalmente el div hijo junto con display:flex*/
}
.contenedor_134{/*cuenta-editar_prod - */
	width: 60%;
	margin: auto;
	text-align: center;
}
.contenedor_135{/*cuenta_editar_prod*/
	width: 70%;
	margin: 2% auto;
	display: flex;
	justify-content: space-between;
}
.contenedor_136{/*carrito*/
	background-color: green;
	margin-bottom: 2% !important;
	display: flex; 
	width:100%; 
}
.contenedor_137{/*pwa*/
	margin:10% auto;
	width: 90%;
}
.contenedor_138{/*carrito*/
	width: 18%;
}
.contenedor_139{/*desr_Producto*/
	height: 100px;
}
.contenedor_140{/*tiendas*/ 
	background-size: contain; 
	background-position-y: 5px; /*bajó la imagen 5px*/
}
.contenedor_141{/*modal_login*/ 
	margin: 5% auto;
	text-align: center;
}
.contenedor_142{/*cuenta_productos*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	height: 100px;
	align-items: center;
}
.contenedor_144{/*quienesSomos*/
	padding-top: 5%;
	width: 90%;
	margin: auto;
}
.contenedor_145{/*ciudad*/
	top: inherit;
	bottom: 0pt !important;
	height: 80px;
	/* margin-bottom: 10%; */
}
.contenedor_146{/*ciudad - quienesSomos*/
	padding-top: 10%;
	width: 90%;
	margin: auto;
}
.contenedor_147{/*login*/
	width: 75%;
	margin-left: 30%;  
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}
.contenedor_149{/*quienesSomos*/
	padding-top: 10%;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contenedor_151{/*quienesSomos*/
	width: 45%;
	margin: auto;
}
.contenedor_152{/*quienesSomos*/
	width: 80%; 
	padding-right: 5%
}
.contenedor_153{/*quienesSomos*/
	width: 20%;
	margin-top:5%
}
.contenedor_154{/*carrito*/
	width: 100% !important;
}
.contenedor_155{/*carrito*/
	width: 50%;
}
.contenedor_156{/*vitrina - opciones*/
	display: flex; 
	width: 100%;
	/* flex-wrap: wrap; */
}
/*.contenedor_156>div:first-child{tiendas - vitrina
	flex: 0 1 100% !important; ocupa toda la primera fila de la distribucion flex, el padre debe tener flex-wrap
} */
.contenedor_158{/*opciones*/
	justify-content: space-between;
	width: 100%;
}
.contenedor_159{/*opciones*/
	background-color: var(--BandaAlerta);
	cursor: pointer; 
	margin-right:2%; 
	border-radius:5px; 
	padding: 0% 2%;
}
.contenedor_160 > div:last-child{/*inicio*/
	/*flex: 0 1 0% !important;rompe la ocupacion de toda la primera fila en la distribucion flex*/
}
.contenedor_161{/*tiendas*/
	display: flex; 
	width: 75%;
	margin: 2% auto;
}
.contenedor_162{/*tiendas*/
	border-top: 1px solid var(--BordeClaro);
	height: 55px;
	padding-top: 2%;
}
.contenedor_163{/*tiendas*/
	margin: 2% auto;
	min-height: 130px;
}
.contenedor_166{/*cuenta_editar*/
	display: flex;
	margin-bottom: 5%;
}
.contenedor_167{/*vitrina*/
	background-color:  var(--BandaAlerta);
	/* display: none; */
	position: fixed;
	top: 13%;
	left: 0%;
	text-align: center;
	height: 25px;
	line-height: 25px;
	width: 100%;
	z-index: 3 !important;
}
.contenedor_169{/*noConformidad*/	
	width: 70%;
	margin: auto;
	padding: 5%;
	padding-top: 3%;
}
.contBoton{/*carrito - descr_Producto - pwa*/
	margin: auto;
	margin-top: 5%;
	width: 50%;
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-around;
}
.contBoton--100{/*descr_Producto*/
	width: 100%;
}
.contBuscador{/*inicio*/
	display: none;
	background-color: var(--FondoDivModal);
	position: absolute;
	height: 300%;
	width: 100%;
	top:  0%;
	left: 0%;
	z-index: 4; /*Para que se sobreponga al header*/
}
.contBuscador__borrar{/*inicio*/
	padding-top: 2%;
}
.contBuscador__div{/*inicio*/
	background-color: var(--OficialClaro);
	width: 60%;
	padding: 1% 0% 1% 0%;
	margin: 0% auto 1% auto;
	border-radius: 15px;
}
.contBuscador__div__div{/*inicio*/
	width: 65%;
	margin: auto;
}
.contHorario{/*horario*/
	display: flex;
	flex-wrap: wrap;
	margin-top: 5%;
}
.contHorario>h2{/*contHorario*/
	flex: 0 1 100% !important;/*ocupa toda la primera fila de la distribucion flex, el padre debe tener flex-wrap: wrap*/
}
.contHorario__div{/*horario*/
	padding: 5% 2%;
	border-radius: 15px;
	margin: 1% auto 5% auto !important;
	width: 45%;
}
.contHorario__p{/*horario*/
	text-align: center;
}
.contHorario__h2{/*horario*/
	background-color: var(--OficialClaro);
	line-height: 30px;
	padding-left: 10%;
	font-weight: lighter;
	font-size: 1.2em;
}
.contMuestraBuscador{/*buscador*/
	/* background-color: var(--OficialClaro); */
	border-radius: 15px;
	margin: auto;
	/* padding: 1%; */
	margin: 1%;
	width: 20%;
}
.contMuestraBuscador:hover{/*buscador*/
	cursor: pointer !important;
	background-color: var(--OficialClaro);
}
.contMuestraBuscador__label{/*buscador*/
	display: block;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}
.contMuestraBuscador__textarea{/*buscador*/
	/* background-color: var(--OficialClaro); */
	width: 100%;
	resize: none;
	border: none;
	padding-left: 3%;
}
.contMuestraBuscador:hover > .contMuestraBuscador__textarea{/*buscador*/
	background-color: var(--OficialClaro);
}
.contFlex{/*carrito - inicio - horario*/
	display: flex; /*Organiza los elementos horizontalmente*/ 
	flex-wrap: wrap; /*permite pasar a la segunda fila*/
	justify-content: space-between;
	margin-bottom: 2%;
}
.contFlex>p:first-child{/*tiendas*/
	flex: 0 1 100% !important;/*ocupa toda la primera fila de la distribucion flex, el padre debe tener flex-wrap*/
}
.contFlex50{/*carrito*/
	display: flex;
	justify-content: space-between;
	width: 55%;
	margin: 2% auto;
}
.contFlex--around{/*inicio*/
	justify-content: space-around;
}
.contFlex__div{/*inicio*/
	width: 40%;
	margin: auto;
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-around;
	align-items: center; 
}
.contFlex__select{/*inicio*/
	display: block;
	font-size: 1em;
	height: 33px;
	width: 100%;
	padding-left: 5%;
	line-height:40px;
}
.contGeneral{/*carrito - descr_Producto*/
	width: 100%;
	margin: auto;
	margin-bottom: 2%;
}
.contGeneralCentro{/*carrito - horarioDespacho*/
	text-align: center;
}
.contGeneral__p{/*horarioDespacho*/
	width: 70%;
	margin: auto;
	line-height: 30px;
}
.contGridUna{/*descr_Producto*/
	display: grid;
	grid-template-columns: 100%;
}
.contGridUna__div{/*descr_Producto*/
	/* margin: auto;
	margin-top: 5%;
	width: 80%;
	display: flex; /*Organiza los elementos horizontalmente*/ 
	/* justify-content: space-around;s */
}
.contGridTres{/*Categorias_Ajax*/
	display: grid;
	grid-template-columns: 32% 32% 32%;
	justify-content: space-around;
}
.contInforPago{/*carrito*/
	display: none;
	margin: auto !important;
	width: 80%;
	padding: 2%;
	border-top-color: var(--OficialOscuro);
	border-top-width: 1px;
	border-top-style: solid;
}
.contInputRadio{/*carrito - SeccionesDisponibles_Ajax - Categorias_Ajax*/
	padding: 1% !important;
}
.contInputRadio__label{/*carrito - Secciones_Ajax*/
	padding: 2px 10px;
}
.contInputRadio__label:hover{/*carrito - Secciones_Ajax - Categorias_Ajax*/
	cursor: pointer;
	background-color: rgba(51, 51, 51, 0.2);
	border-radius: 15px;
}
.contInputRadio__input{/*horario*/
	display: block;
	margin: auto;
}
.contOpciones{/*opciones*/
	border-radius: 15px;
	text-align: center;
	width: 100%;
	padding: 1%;
	margin: auto;
	cursor: pointer;
}
.contOpciones--pointer{/*cuenta_productos*/
	cursor: default;
}
.contOpciones__img{/*opciones*/
	object-fit: contain !important; /*esta propiedad necesita el ancho y alto de la imagen definidos*/
	width: 190px;
	max-height: 120px; 
	/* display: block;
	margin-top: 0px; */
}
.contSelectVert{/*horario*/
	width: 100%;
	margin-top: 15%;
}
.contSelectVert__select{/*horario*/
	width: 100%;
	padding: 2%;
	padding-left: 3%;
	margin:3% 0% 15% 0% !important;
	font-size: 0.9em;
}
.contTabla{/*horarioDespacho*/
	margin-bottom: 7%;
}
.sectionModal__div{/*modal_sinSecciones*/
	background-color: var(--OficialClaro);
	width: 70%;
	margin: 2% auto;
	padding: 1%;
	border-radius: 15px;
	/* text-align: center; */
}
.sectionModal__div__p{/*modal_sinSecciones* - modal_fueraHorario*/
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 2%;
}
.spanCerrar{/*inicio - modal_fueraHorario*/
	color: white;
	font-size: 2em;
	margin: -1% 4% 0% 95%;
	cursor: pointer;
}
.contenedor_60__p1{/*carrito*/
	text-align: justify;
}
.contOculto{/*carrito*/
	display: none;
}
.figure_2{/*quienesSomos*/
	margin: auto;
	width: 100%;
}
.fieldset_1{/*registroCom - registroDes - login*/
	/* background-color: yellow; */
	width: 40%;
	margin: auto;
	border-radius: 15px;
	padding: 2%;
}
.fieldset_2{/*registroCom - registroDes*/
	margin-top: 5%;
}
.fieldset_4{/*noConformidad*/
	width: 90%;
	margin: auto;
	border-radius: 15px;
	padding: 3%;
}
.footer{
	height: 30%;
}
.h1_1{/*carrito - cuenta_productos - Categorias_Ajax - cuenta_ventas - opciones - tiendas - Secciones_Ajax- cuenta_editar - registroCom - registroDes - modal_sinProductos*/
	font-weight: normal;
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 2%;
}
.h1_2{/*inicio*/
	font-size: 4.5em;
	text-align: right;
}
.h1_3{/*opciones  - Secciones_Ajax - tiendas - inicio*/
	margin-bottom: 0%;
	height: 1.5em;
	line-height: 1.5em;
	width: 100%;
}
.h1_4{/*opciones - tienda - modal_sinProductos*/
	font-size: 1.4em;
	width: initial;
	font-weight: lighter !important;
}
.h1_5{/*Categorias_Ajax - carrito*/
	margin: 2% auto;
	width: 100%;
}
.h1_6{/*cuenta_productos*/
	margin-bottom: 0%;
}
.h1_7{/*cuenta*/
	font-size: 2.5em;
	margin: 2% auto;
	text-align: center;
}
.h1_8{/*cuenta_editar*/
	display: none;
}
.h1_10{/*header_Tienda*/
	color: white;
	font-size: 2vw;
	font-weight: normal;
	text-align: center;
}
.h1_11{/*descr_Producto*/
	display: block;
	color: var(--OficialOscuro);
	text-align: left;
	/* padding: 2% 5%; */
	font-weight: lighter;
	font-size: 1.5em;
}
.h1_12{/*RecibePedido*/
	font-size: 1.9em !important;
}
.h1_13{/*ciudad*/
	color: var(--OficialOscuro);
	text-align: center;
	font-weight: lighter;
	font-size: 1.5em;
	margin-left: -12% !important;
}
.h2_1{/*inicio*/
	font-weight: normal;
	text-align: center;
	padding: 4%;
	min-height: 4em; /*para garantizar que cubra dos lineas y los iconos se alineen a partir de alli */
	cursor: pointer;
}
.h2_2{/*carrito*/
	font-weight: normal;
	text-align: right;
	margin-right: 5%;
	line-height: 25px;
}
.h2_3{/*carrito modal_Secciones*/
	font-weight: bold !important;
}
.h2_4{/*inicio*/
	font-size: 1.3em;
	font-weight: lighter;
	text-align: right;
	margin-top: -3%;
}
.h2_5{/*header - header_tienda - header_AfiCom*/
	color: white;
	font-size: 0.9em;
	font-weight: lighter;
	text-align: center;
	margin-top: -0.2%;
	height:0.9em;
}
.h2_6{/*vitrina - modal_sinProductos*/
	font-size: 1.3em;
	font-weight: normal;
	text-align: center;
}
.h2_7{/*cuenta*/
	font-size: 1.4em;
	font-weight: normal;
}
.h2_9{/*cuenta_productos - modal_Secciones*/
	width: 100%;
	font-size: 1em;
	text-align: center;
	font-weight: normal ;
}
.h2_11{/*afiliacion - ciudad*/
	background-color: var(--BandaAlerta);
	font-size: 1.3em;
	font-weight: normal;
	text-align: center;
	width: 40%;
	margin: auto;
	border-radius: 10px;
	padding: 0.5%;
	margin-top: -2% !important;
}
.h2_13{/*ciudad*/
	margin: 8% auto;
	width: 70%;
}
.contenedor_162 .h2_14{/*tiendas*/
	font-size: 0.9em !important;
	font-weight: normal;
	width: 95% !important;
	margin-top: 10px !important;
	border-radius: 10px;
	padding: 1%;
	margin: auto;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: orange;
}
.h3_1{/*footer - afiliacion - planes*/
	font-weight: normal;
	font-size: 0.7em;
}
.h3_2{/*inicio - carrito*/
	font-weight: normal;
	font-size: 1.3em;
	text-align: center;
	padding: 1% 0% 3% 0%;
}
.h3_4{/*tiendas*/
	background-color: var(--OficialClaro);
	padding: 1% 0%;
	font-weight: bold;
	font-size: 1em;
	margin: auto;
}
.h3_9{/*cuenta_productos - buscador*/
	width: 100%;
	font-size: 0.9em;
	text-align: center;
	font-weight: normal ;
}
.h3_10{/*buscador*/
	font-size: 1em;
}
.h5_1{/*footer*/
	color: rgba(51, 51, 51, 1);
	text-align: center;
	font-weight: normal;
	font-size: 1em;
}
.h6_1{/*footer*/
	text-align: center;
	font-weight: normal;
	font-size: 0.6em;
}
.header_1{/*header*/
	background-color: rgba(51, 51, 51, 1);
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-around;
	align-items: center;/*para centrar verticalmente el div hijo junto con display flex*/
	position: fixed;
	top: 0%;
	width: 100%;
	height: 10%;
}
.hr_1{/*carrito*/
	width: 40%;
    border: none;
	height: 1px;
	margin-left: auto;
	margin-top: 1%;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.hr_2{/*afiliacion*/
	width: 40%;
    border: none;
	height: 1px;
	margin: auto;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.hr_3{/*login*/
	width: 100%;
    border: none;
	height: 1px;
	margin: 5%  auto;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.hr_4{/*header_Tienda*/
	display: none;
}
.hr_5{/*busquedor*/
	width: 100%;
    border: none;
	height: 1px;
	margin: 1%  auto;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.image_1{/*tiendas - cuenta*/
	width: 100%;
	object-fit: contain ;
	padding: 10%;
}
.imagen_2{/*vitrina*/
	border-radius: 15px;
	object-fit: scale-down !important; 
	width: 150px;
	height: 180px;
}
.imagen_2:hover{/*cuenta_editar_prod*/
	cursor: pointer;
}
.imagen_3{/*cuenta_editar*/
	margin: auto;
	margin-bottom: 1%;
	display: block;
	width: 5% !important;
}
.imagen_4{/*inicio*/
	width: 40% !important;
}
.imagen_4{/*cuenta_editar*/
	width: 50%;
	display: inline-block;
}
.imagen_5{/*footer*/
	width: 28%;
	object-fit: contain;/*esta propiedad necesita el ancho y alto de la imagen definidos*/
}
.imagen_6{/*opciones - buscador - cuenta_editar_prod - cuenta_publicar*/
	object-fit: contain !important; /*esta propiedad necesita el ancho y alto de la imagen definidos*/
	width: 160px;
	height: 100px;
}
.imagen_7{/*tiendas*/
	width: 100%;
	height: 150px;
	object-fit: contain !important; /*esta propiedad necesita el ancho y alto de la imagen definidos*/
	margin-bottom: 5%;
	border-radius: 15px;
}
.imagen_8{/*vitrina*/
	object-fit: contain !important; /*esta propiedad necesita el ancho y alto de la imagen definidos*/
	width: 20%;
	margin: auto;
}
.imagen_9{/*descr_Producto*/
	width: 100%;
	/* text-align: center; */
	height: 350px;
	/* opacity: 0; */
	object-fit: contain; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
}
.imagen_11{/*descr_Producto*/
	width: 100px;
	height: 100px;
	margin: auto;
	cursor: pointer;
	object-fit: cover; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/	
}
.input_1{/*vitrina*/
	border: none;
	text-align: right;
	padding-right: 5%;
}
.input_2{/*vitrina*/
	background-color:rgb(44, 29, 29) ;
	color: white;
	border: none;
	margin: -5px !important;
	width: 30%;
	text-align: center;
	padding: 5%;
}
.input_2a{/*opciones*/
	background-color: rgba(83, 16, 16, 0);
	font-size: 0.9em;
	text-align: center;
	font-weight: bold;
	border: none;
	display: inline-block;
	width: 100%;
	/* las proximas 3 líneas, le indicando al contenido que si se sale por un lateral que no se muestre, que no se cambie de línea el contenido “inline” y que, en caso de salirse el texto por un lateral, que le incluya los puntos suspensivos automáticamente por donde proceda. */
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow: ellipsis;
}
.input_5{/*vitrina*/
	background-color: var(--OficialOscuro);
	color: white;
	border: none;
	/* font-size: 1em !important; */
	font-weight: bold;
	width: 55%;
	display: inline-block;
	margin: auto;
	text-align: center;
	cursor: pointer;
}
.input_6{/*carrito - cuenta_productos*/
	background-color: rgb(239, 245, 245);
	border: none;
	text-align: right;
	width: 80px !important;
}
.input_7{/*carrito*/
	font-weight: bold;
}
.input_8{/*opciones*/
	width: 100%;
	border: none;
	margin-bottom: 1%;
	cursor: default;
	/* font-size: 0.9em; */
	display: block;
}
.input_8C{/*opciones*/
	height: 40px;
	/* las proximas 3 líneas, le indicando al contenido que si se sale por un lateral que no se muestre, que no se cambie de línea el contenido “inline” y que, en caso de salirse el texto por un lateral, que le incluya los puntos suspensivos automáticamente por donde proceda. */
	 overflow: hidden; 
	/*white-space: nowrap; 
	text-overflow: ellipsis;   */
	width: 100%;


	display: block;
	display: -webkit-box;
	max-width: 100%;
	margin: 0 auto;
   
	line-height: 1.3em;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.input_10{/*opciones*/
	background-color: yellow;
	cursor: pointer;
	color: var(--Enlaces);
	visibility: visible;
	height: 20px;
	/* las proximas 3 líneas, le indicando al contenido que si se sale por un lateral que no se muestre, que no se cambie de línea el contenido “inline” y que, en caso de salirse el texto por un lateral, que le incluya los puntos suspensivos automáticamente por donde proceda. */
	/* overflow:hidden; 
	white-space:nowrap; 
	text-overflow: ellipsis; */	
}
.input_12{/*cuenta_editar*/
	width: 90% !important;
	display: inline-block;
}
.input_13{/*cuenta_editar - carrito*/
	font-size: 1.2em;
	line-height: 30px;
	padding-left: 5%;
	width: 100%;
	margin: 1% auto 2% auto;
}
.input_13:focus, .textarea_4:focus{/*cuenta_publicar - cuenta_editar*/
	border-color: rgb(51, 51 ,51);
}
.input_13A{/*cuenta_editar*/
	font-size: 1em;
}
.input_14{/*cuenta_productos*/
	background-color: var(--OficialClaro);
	position: relative !important;
	top: -50px;
	left: 0%;
	width: 20px !important;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	/*border: none;
	font-size: 0.9em;
	height: 100%  !important; */
}
.input_15{/*vitrina*/
	background-color: rgba(165, 42, 42, 0);
	font-size: 0.8em;
	font-weight: bold;
	border: none;
	text-align: center;
	line-height: 30px;
	height: 30px;
	display: block;
	width: 100%;
	/* las proximas 3 líneas, le indicando al contenido que si se sale por un lateral que no se muestre, que no se cambie de línea el contenido “inline” y que, en caso de salirse el texto por un lateral, que le incluya los puntos suspensivos automáticamente por donde proceda. */
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow: ellipsis;
}
.input_16{/*cuenta_editar*/
	margin-bottom: 0%;
}
.input--textCenter{/*carrito*/
	text-align: center;
}
.label_2{/*vitrina*/
	font-weight: bold;
	padding-right: 10%;
}
.label_4{/*opciones - cuenta_editar*/
	background-color: var(--OficialOscuro);
	color:white ;
	position: relative;
	top: 5%;
	margin-left: 5%;
	text-align: center;
	display: block;
	width: 40%;
	font-size: 0.9em;
	padding: 1%;
	border-radius: 10px;
}
.label_4:hover{/*vitrina*/
	background-color: var(--OficialClaro);
	color: var(--OficialOscuro);
	cursor: pointer;
}
.label_5{/*vitrina*/
	width: 100% !important;
	text-align: center;
	margin-left: auto;
	display: block;
	font-size: 1em;
	background-color: rgb(78, 43, 43);
	color: white;
	padding: 2%;
	cursor: pointer;
	border-radius: 10px;
}
.label_7{/*login*/
	color: blueviolet;
}
.label_7:hover{/*login*/
	cursor: pointer;
}
.label_11{/*RegistroCom_V - cuenta_editar*/
	margin-left: 5%;
}
.label_14{/*Categorias_Ajax - Secciones_Ajax*/
	/* line-height: 30px; */
}
.label_15{/*registroCom*/
	color: rgba(0, 0, 0, 0.6);
}
.label_16{/*cuenta_editar*/
	font-size: 1em;
	display: inline-block;
}
.label_17{/*header_Tienda*/
	width: 100%;
	display: block;
	color: white;
	text-align: center;
	font-size: 2em;
}
.label_18{/*Seleccionees_Ajax*/
	font-size: 0.9em;
	text-align: center;
	display: block;
	width: 90%;
	margin: auto !important;
}
.label_19{/*cuenta_editar*/
	font-size: 0.8em;
}
.label_19:hover{/**/
	cursor: pointer!important;
}
.label_21{/*cuenta_productos*/
	width: 20%;
	display: block;
	margin:5%  auto;
}
.label_22{/*descr_Producto*/
	background-color:  var(--BandaAlerta);
	color: var(--OficialOscuro);
	width: 40%;
	margin: auto;
	display: block;	
	text-align: center;
	font-size: 1.5em;
	padding: 0.5%;
}
.label_23{/*cuenta_publicar*/
	width: 45% !important;
	margin: auto;
	margin-bottom: 3%;
	font-size: 0.9em;
	padding: 1%;
}
.label_24{/*cuenta_editar*/
	margin: auto;
	border-color: var(--OficialOscuro);
	border-width: 1px;
	border-style: solid;
}
.label_25{/*cuenta_editar*/
	pointer-events:none;
}
.legend_1{/*registroCom - registroDes - login - cuenta_editar - horario*/
	font-size: 1.4em;
	margin-left: 1%;
	padding: 0% 2%;
}
.li_1{/*carrito - ciudad*/
	line-height: 2em;
}
.li_2{/*ciudad*/
	padding-left: 3%;
}
.li_2:hover{/*ciudad*/
	cursor: pointer;
	background-color: rgba(51, 51, 51, 0.2);
	border-radius: 15px;
	padding-left: 3%;
}
.li_3{/*afiliacion*/
	width: 90%;
	margin: auto;
	line-height: 1.5em;
	padding-bottom: 5%;
}
.li_4{/*descr_Producto*/
	width: 100%;
}
.li_5{/*cuenta_ediitar*/
	font-size: 0.9em;
}
.mas{/*opciones*/
	background-color:rgb(78, 43, 43);
	color: white;
	padding: 5% 10%;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	margin: 0px !important;
	width: 30%;
}
.marcador{/*cuenta_editar*/
	color: rgb(51, 51 ,51);
	text-align: right;
	line-height: 30px;
	display: block;
	width: 100%;
	font-size: 1.1em !important;
}
.marcador:hover{
	cursor: pointer;
	background-color: rgba(51, 51, 51, 0.2);
	border-radius: 15px;
	padding-right: 5%;
}
.menos{/*opciones*/
	background-color:rgb(78, 43, 43);
	color: white;
	padding: 5% 10%;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	margin: 0px !important;
	width: 30%;
}
.menuResponsive{/*da formato a barra de menu y contiene todos los enlaces de la misma, solo a la del header*/
	background-color: var(--OficialOscuro);
	width: 100%;
	display: flex; /*Organiza los elementos horizontalmente*/ 
	justify-content: space-between;
	position: absolute;
	bottom: 0px;
}
.menuResponsive ul{/*Todas  las páginas*/
	width: 95%;
	margin: auto;
	list-style: none;
	display: flex; /*Organiza los elementos horizontalmente*/ 
}
.menuResponsive li{/*Todas las páginas*/
	padding-bottom: 0.2%;
	flex-grow: 1;/*distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
	width: 80%;
}
.menuResponsive li a{/*Todas las páginas*/
	display: block;
	width: 170px;
	margin: auto;
	color: white;
	font-size: 15px;
	text-align: center;
	padding:3% 0%;
	height: 27px;
	box-sizing: border-box;
}
.menuResponsive li a:hover{/*Todas las páginas*/
	font-size: 19px;
}
.nav_1{/*header_inicio*/
	padding-top: 2.5%;
}
.ocultar{/*vitrina - carrito* - horario*/
	display: none;
}
.ol_1{/*cuenta*/
	margin-left: 3%;
}
.ol_2{/*descargaApp*/
	margin-left: 5%;
	line-height: 30px;
	text-align: justify;
	padding: 2% 4% 2% 2%;
}
.p_1{/*RecibePedido - descargaApp - noConformidad - afiliacion*/
	font-size: 1.2em;
	text-align: center; 
} 
.p_2{/*tiendas*/
	text-align: left;
	padding-left: 2%;
	padding-right: 1%;
	font-size: 0.7em;
	cursor: pointer;
	width: 100%;
}
.p_3{/*tiendas - afiliacion*/
	margin: 2% auto;
	text-align: center;
	font-size: 1.6em;
	cursor: pointer;
}
.p_4{/*recibePedido - login - descargaApp - noConformidad*/
	margin-top: 3%;
	text-align: center;
	width: 100% !important;
}
.p_5{/*afiliacion*/
	margin: 0% auto 5% auto;
	text-align: center;
}
.p_6{/*cuenta_editar - afiliacion - cuenta -ciudad*/
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 3%;
}
.p_7{/*cuenta - cuenta_ventas*/
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2%;
}
.p_8{/*afiliacion*/
	padding-top: 1%;
	text-align: center;
	font-size: 1.9em;
}
.p_9{/*cuenta_editar - afiliacion - tiendas*/
	grid-column-start: 1;
	grid-column-end: 6;
}
.p_10{/*header_Tienda*/
	color: white;
}
.p_11{/*afiliacion*/
	color: rgb(51, 51, 51);
	font-size: 1.9em;
	text-align: center;
	padding-bottom: 5%;
}
.p_12{/*cuenta_editar*/
	margin: 0% auto 5% auto;
}
.p_13{/*carrito*/
	font-weight: bold; 
}
.p_13, .p_14{/*carrito*/
	line-height: 25px;
}
.p_15{/*pwa - descargaApp*/
	/* padding: 0% 2%; */
	text-align: justify;
}
.p_16{/*quienesSomos - descargaApp*/
	text-align: justify !important;
	font-size: 1.3em;
	line-height: 35px;
}
.p_17{/*vitrina - opciones*/
	background-color: var(--OficialClaro); 
	text-align: center; 
	height: 100%; 
	width: 40px; 
	writing-mode: vertical-rl; 
	transform: rotate(180deg); 
	font-size: 1.5em; 
	line-height: 40px;
	margin-top: 100%;
}
.p_18{/*tiendas*/
	text-align: center;
	font-size: 0.9em !important;
}
.p_19{/*tiendas*/
	text-align: left;
	display: inline-block !important;
	font-size: 0.9em !important;
	width: 90%;
}
.placeholder{/*registroCom - registroDes - login - cuenta_publicar*/
	margin: 0% auto 2% auto !important;
	display: block;
	font-size: 0.8em;
	line-height: 30px;
	width: 90%;
	padding-left: 5%;
}
.placeholder:focus{
	border-color: var(--OficialOscuro);
	border-radius: 5px;
}
.placeholder_2{/*cuenta_publicar - cuenta_editar - cuenta_editar_prod*/
	margin: auto;
	width: 100%;
	margin-bottom: -0.5% !important;
}
.placeholder_3{/*cuenta_editar_prod*/
	width: 90%;
	margin: initial !important;
	margin-bottom: 5% !important;
	display: inline-block;
}
.placeholder_4{/*registroCom*/
	margin-bottom: -0.5% !important;
}
.preloder{/*vitrina*/
	/* margin: 20% auto;  */
	width: 70px; 
	height: 70px; 
	border: 10px solid #eee; 
	border-radius: 50%; 
	border-top: 10px solid #666;

	animation-name: girar;
	animation-duration: 2s;	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
  	@keyframes girar{
	from{
	  transform: rotate(0deg);
	}
	to{
	  transform: rotate(360deg);
	}
}
.preloderTapa{
	background-color: white;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.preloaderCentrar{/*descr_Producto*/
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	margin: auto;
}
.sectionModal{/*carrito - SeccionesDisponibles_Ajax - cuenta_editar - Categorias_Ajax - modal_fueraHorario*/
	background-color: var(--FondoDivModal);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 400%;
	z-index: 3;
	padding-top: 1%;
}
.sectionModal--Fixed{/*modal_Secciones*/
	background-color: var(--FondoDivModal);
	position: fixed ;
	top: 0;
	z-index: 8 !important;
	min-height: 100% ;
	display: none;
	width: 100%;
} 
.section_1{/*inicio*/
	background-color: var(--OficialClaro);
	height: 100%;
}
.section_2{/*RecibePedido*/
	padding-top: 10%;
	height: 100%;
}
.section_3{/*opciones - Secciones_Ajax - cuenta_editar*/
	background-color: var(--FondoDivModal);
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	min-height: 100% !important;
	/* display: none; */
}
.section_5{/*afiliacion - ciudad - vitrina - login - login_Vrecord - cuenta_productos - registroCom - registroDes*/
	min-height: 100%;
}
.section_6{/*afiliacion*/
	background-color: rgb(239, 245, 245);
	height: 90%;
}
.section_7{/*carrito - opciones*/
	display: none;
}
.section_9{/*opciones - cuenta_productos*/
	background-color: white;
}
.section_11{/*tiendas*/
	min-height: 100%;
}
.section_13{/*cuenta_editar*/
	display: none;
	position: absolute;
	top:  0%;
	left: 0%;
	width: 100% !important;
}
.select_2{/*carrito - cuenta_editar*/
	font-size: 1.1em;
	height: 33px !important;
	padding-left: 3%;
	width: 100%;
	border-radius: 5px;
	margin: 2% auto;
}
.span_1{/*tiendas*/
	font-size: 0.8em;
}
.span_2{/*vitrina*/
	/* font-size: 1.4em !important; */
	background-color: var(--OficialOscuro);
	color: white;
	margin: auto;
	text-align: center;
	display: inline-block;
	line-height: 30px !important;
}
.span_3, .span_4{/**/
	cursor: pointer;
}
.span_5{/* opciones - tiendas - Selecciones_Ajax*/
	color: rgb(51, 51, 51) ;
	font-weight: bold;
	font-size: 1.5em;
	width: 2.5%;
}
.span_5:hover{/*inicio - opciones*/
	cursor: pointer !important;
}
.span_6{/*inicio*/
	color:rgb(51, 51, 51);
	font-size: 2.5em;
}
.contIconoBuscador__span{/*header_inicio*/
	color:rgb(51, 51, 51) !important;
	font-size: 1.5em;
}
.span_8{/*inicio*/
	color:rgba(51, 51, 51, 0.5);
	font-size: 3.5em !important;
	margin-top: 8%;
	text-align: center;
	display: block;
}
.span_10{/*cuenta_editar - cuenta_editar_prod*/
	font-size: 1.2em;
	color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	margin-left: auto;
}
.span_10:hover{/*cuenta_editar*/
	cursor: pointer;
}
.span_11{/*registroCom*/
	display: inline-block;
	margin-left: 75%;
}
.span_13{/*cuenta_editar*/
	color: blueviolet;
	display: inline-block;
}
.span_13:hover{/*cuenta_editar*/
	cursor: pointer;
}
.span_14{/*cuenta_editar - modal_fueraHorario*/
	width: 20px;
	float: right;
	margin-top: -2%;
}
.span_14:hover{/*cuenta_editar*/
	cursor: pointer;
}
.span_15{/*header_inicio - header - header_AfiCom*/
	color: white;
}
.span_16{/*inicio*/
	display: block;
	margin-left: 95%;
}
.span_17{/*tiendas*/
	display: inline-block;
	margin-left: 3%;
}
.span_18{/*cuenta_publicar - cuenta_editar_prod*/
	background-color: var(--OficialClaro);
	border-radius: 30px;
	padding: 3%; 
	width: 30px;
	position: relative; 
	top: 5%;
	left: 80%;
	display: block;
}
.span_18:hover{/*cuenta_publicar - cuenta_editar_prod*/
	cursor: pointer;	
}
.span_21{/*inicio*/
	background-color: var(--OficialClaro);
	border-radius: 30px;
	width: 23px;
	position: relative; 
	text-align: center;
	top: 5%;
	left: 85%;
	display: block;
}
.span_22{/*modal_fueraHorario*/
	/* width: 40px; */
	/* display: block !important;
	font-size: 1.8em;
	float: right; */
}
.tabla{/*carrito*/
	width: 100%;
}
.tabla1{/*horarioDespacho*/	
	width: 90%;
	margin: auto;
	margin-bottom: 2%;
	border-collapse: collapse;
}
.tabla1__td{/*horarioDespacho*/
	font-size: 0.9em;
	text-align: center;
	height: 30px;
}
.tabla_2{/*carrito*/
	margin-bottom: 3%;
	width: 100%;
}
.tabla2__tr1{/*carrito*/
	height: 25px;
}
.tabla2__tr2{/*carrito*/
	height: 20px;
}
.tabla2__td1{/*carrito*/
	font-weight: bold;
	width: 20%;
}
.td_1{/*carrito - noConformidad - horarioDespacho*/
	text-align: center;
}
.td_2{/*carrito*/
	padding-left: 3%;
}
.td_3{/*carrito*/
	text-align: center;
}
.td_4{/*cuenta_productos*/
	padding-left: 1%;
}
.td_6{/*carrito*/
	height: 20px;
}
.td_7{/*horarioDespacho*/
	height: 30px;
}
.textarea_1{/*carrito - cuenta_editar_prod*/
	width: 100%;
	resize: none;
	font-size: 1em;
	padding-left: 2%;
}
.textarea_2{/*cuenta_productos*/
	width: 100%;
	margin-bottom: 2%;
	border: none;
	overflow: hidden;
	resize: none;
}
.textarea_3{/*descr_Producto*/
	width: 100%;
	border: none;
	overflow: hidden;
	display: block;
}
.textarea_4{/*cuenta_editar quienesSomos*/
	width: 100%;
	resize: none;	
	border-radius: 5px;
	overflow: hidden;
}
.th_1{/*carrito - noConformidad*/
	width: 10%;
}
.th_2{/*carrito*/
	width: 50%;
}
.th_3{/*carrito - cuenta_productos*/
	width: 17%;
}
.th_4{/*carrito*/
	background-color: rgba(51, 51, 51, 0.4);
	height: 25px;
	font-size: 0.9em;
}
.th_5{/*carrito*/
	width: 10%;
}
.th_6{/*entrada*/
	width: 30%;
	text-align: left;
}
.th_7{/*entrada*/
	width: 35%;
	text-align: left;
}
.th_8{/*entrada*/
	width: 10%;
	text-align: left;
}
.th_9{/*entrada*/
	width: 10%;
	text-align: left;
}
.th_10{/*entrada*/
	width: 20%;
	text-align: left;
}
.th_11{/*cuenta_productos*/
	text-align: left;
}
.tr_1:hover{/*entrada*/
	background-color:rgb(239, 245, 245);
}
.ul_1{/*carrito - afiliacion*/
	margin-top: 10% !important;
}
.ul_2{/*ciudad* - cuenta_editar*/
	padding-left: 15%;
	padding-top: 10%;
	line-height: 30px;
}
.ul_3{/*descr_Producto*/
	display: none; 	
	list-style: none; 
}
.ul_3_500{/*descr_Producto*/
	width: 500%; /*En este ancho estan las cinco imagenes, cada una con un ancho de 100%*/
}
.ul_3_400{/*descr_Producto*/
	width: 400%; /*En este ancho estan las cinco imagenes, cada una con un ancho de 100%*/
}
.ul_3_300{/*descr_Producto*/
	width: 300%; /*En este ancho estan las cinco imagenes, cada una con un ancho de 100%*/
}
.ul_3_200{/*descr_Producto*/
	width: 200%; /*En este ancho estan las cinco imagenes, cada una con un ancho de 100%*/
}
.ul_3_100{/*descr_Producto*/
	width: 100%; /*En este ancho estan las cinco imagenes, cada una con un ancho de 100%*/
}
.ul_4{/*cuenta*/
	padding-left: 2%;
}
.ul_5{/*login*/
	width: 40%;
	margin: 4% 0% 4% 30%;
	line-height: 25px;
}
.ul_5 > li{/*login*/
	font-size: 1.1em;
}
ul .menuContenedor_3{/*header - header_AfiCom*/
	background-color: var(--OficialOscuro) !important;
	display: none;
	position: absolute;
	margin-left: 3%;
	z-index: 5;
	padding-top: 1%;
	left: 55% !important;
}
ul .menuContenedor_2{/*header_AfiCom*/
	background-color: var(--OficialOscuro);
	display: none;
	position: absolute;
	top: 100%;
	padding-top: 0.7%;
	left: 50%!important;
}
ul .menuContenedor_1{/*header_inicio*/
	left: 50% !important;
}
.menuLi_1:hover > ul{/*Se aplica un hover a un elemento, seleccionando otro elemento distinto*/
	display: block !important;
	width: 170px !important;
}
.menuLi_2{/*header_AfiCom - header_inicio*/
	padding: 5%;
	padding-left: 10% !important;
	text-align: left !important;
}
.menuLi_2:hover{/*header.php   index.php*/
	text-align: left !important;
	display: block;
}		