@media (max-width: 800px){/*aplicaría en cualquier medio con dimensiones menores a lo indicado*/

	
.a_1{/*header - header_AfiCom - afiliacion*/
	top: 0%;
	left: 15%;
	font-size: 1.7em;
	width: 85%;
	text-align: right;
	padding-right: 5%;
}
.a_3{/*header_inicio - header_AfiCom*/
	width: 100% !important;
}
.a_4{/*header_AfiCom*/
	display: block;
	width: 100% ;
	text-align: right;
	font-size: 0.7em;
}
.a_7{/*header_Tienda*/
	font-size: 1.3em;	
	/* bottom: initial; */
	/* left: 3%;
	color: white;
	font-size: 3em; */
}
.a_10{/**/
	font-size: 1.3em;
	text-align: left;


}
.ancla_2{/*cuenta_editar*/
	margin-top: -5%;
	height: 5px; 
}
.boton{/*carrito - recibePedido*/
	font-size: 0.9em;
	width: 70% ;
}
.boton_1{/*carrito - recibePedido - login - afiliacion - registroCom*/
	width: 30% !important;
	height: 40px;
	line-height: 15px;
	padding-top: 1.5%;
}
.boton_2{/*alert*/
	border-width: 2px;
	border-style: solid;
	border-color: yellow;
	width: 30%;
	height: 40px;
	line-height: 35px;
}
.boton_3{/*afiliacion*/
	height: 40px;
}
.boton_4{/*afiliacion - registroCom - registroDes*/
	width: 47% !important;
}
.boton_5{/*cuenta_editar*/
	margin-top: 5%;
	margin-left: 0%;
	width: 40% !important;
}
.br_2{/*carrito*/
	display: block;
}
.comandoMenu_2{/*header_inicio* - header_AfiCom - header - header_Tienda*/
	display: block;
	padding: 1%;
	margin-top: 1%;
	margin-left: 2%;
	/* z-index: 3; */
}
.contador{/*cuenta_editar_prod - cuenta_publicar*/	
	margin-left: 90% !important;
	width: 10% !important;
}
.contenedor_1{/*header*/
	margin-left: 1%;
	padding-left: 3%;
}
.contenedor_3{/*header*/
	grid-template-columns: 65fr 35fr;
}
.contenedor_4{/*inicio - RecibePedido*/
	display: block;
	width: 100%;
	margin:1% auto;
}
.contenedor_6{/*inicio*/
	margin: 10% auto;	
	width: 60%;
	height: 100px !important;
}
.contenedor_7{
	margin-top: 0%;
	min-height: 35%;
}
.contenedor_8{/*footer*/
	margin-top: 50% !important;
}
.contenedor_9{/*cuenta_editar - cuenta_publicar - opciones*/
	height: 100px;
	margin: 0% auto;
}
.contenedor_10{/*vitrina - tiendas - afiliacion*/
	grid-template-columns: 100%;
	margin: 20% auto;
	width: 90%;
	row-gap: 2%;/*espacio entre filas*/
}
.contenedor_11{/*vitrina*/
	margin: 12% auto 0% auto;
	align-items: center;
	width: 250px;
}
.contenedor_12{/*vitrina*/
	width: 70%;
	max-height: 100%;
	margin-bottom: 0%;
}
.contenedor_13{/*opciones - cuenta_productos*/
	display: grid;
	grid-template-columns: 100%;
	width: 100%;
	margin: 20% auto;
}
.contenedor_13a{/*vitrina*/
	margin-top: 10% !important;
}
.contenedor_15{/*tiendas*/
	padding: 5% 0%;
}
.contenedor_16{/*vitrina*/
	text-align: right;
	margin-top: 4%;
	margin-right: auto;
}
.contenedor_19{
	grid-template-columns: 75fr 25fr;
}
.contenedor_20{/*carrito*/
	overflow-x: auto;
	padding-bottom: 10%;
}
.contenedor_21{/*header.php*/
	width: 60%;
}
.contenedor_24{/*carrito - cuenta_editar*/
	margin: 5% auto;
	padding: 1%;
	border-radius: 15px;
	width: 95% !important;
}
.contenedor_26{/*carrito*/
	margin-top: 15%;
	width: 100%;
}
.contenedor_28{/*carrito*/
	padding: 5%;
}
.contenedor_29{/*carrito*/
	width: 100%;
	font-size: 1.2em;
}
.contenedor_31{/*header*/
	width: 60%;
	padding: 0%;
}
.contenedor_32{/*header*/
	margin-right: 20%;
	width: 45%;
	padding: 6%;
}
.contenedor_33{/*login*/
	width: 50%;
}
.contenedor_34{/*header_inicio*/
	top: 0.5%;
	left: 85%;
	padding: 1.5%;
	width: 10%;
	position: fixed;
	z-index: 2;
}
.contenedor_35{/*inicio*/
	padding: 3% 0%;
}
.contenedor_37{/*inicio*/
	position: absolute;
	top: 12%;
	left: 3%;
}
.contenedor_38/*afiliacion*/{
	margin: 0% auto;
}
.contenedor_41{/*afiliacion*/
	width: 95%;
	margin-left: 2.5%;
}
.contenedor_42{/*registroCom - registroDes - login*/
	width: 100%;
	margin-top: 25%;
}
.contenedor_44{/*header_AfiCom*/ 
	top: 10%;
	left: 85%;
}
.contenedor_45{/*login*/
	margin: 5% auto;
}
.contenedor_46{/*cuenta_publicar - cuenta_producto*/
	margin: 20% auto;
}
.contenedor_47{/*cuenta_publicar*/
	grid-template-columns: 100%;
	width: 90%;
}
.contenedor_48{/*afiliacion*/
	margin-top: 5%;
}
.contenedor_50{/*login*/
	width: 70%;
	margin: 5% auto;
	text-align: center;
}
.contenedor_51{/*inicio - ciudad*/
	width: 90%;
	margin-left: 5%;
}
.contenedor_52{/*header_AfiCom*/
	top: 0%;
	left: 60%;
	padding-right: 2%;
	width: 40%;
}
.contenedor_53{/*inicio*/
	width: 90%;
	margin: 15% auto 1% auto;
}
.contenedor_54{/*inicio*/
	height: 300%;
}
.contenedor_55{/*inicio*/
	width: 95%;
	flex-direction: column;
	margin: 5% auto;
}
.contenedor_56{/*inicio*/
	/* background-color: red; */
	width: 100%;
	/* align-items: left; */
	margin-left: 0% !important;
}
.contenedor_57{/*inicio*/
	width: 95%;	
}
.contenedor_58{/*inicio*/
	grid-template-columns: 100%;
	padding-bottom: 2.5%;
}
.contenedor_60{/*carrito*/
	margin: 0%;
}
.contenedor_61{/*vitrina*/
	top: 94%;
	width: 100%;
	margin-left:0%;
	height: 6%;
}
.contenedor_64{/*carrito*/
	float: none;
	padding: 1%;
	margin-left: 2%;
	margin-bottom: 4%;
	width: 95%;
}
.contenedor_65{/*carrito*/
	width: 100%;
}
.contenedor_66{/*registroCom - registroDes*/
	margin: 5% auto 35% auto;
}
.contenedor_68{/*afiliacion*/
	height: 100%;
}
.contenedor_69{/*tiendas - header - header_inicio - header_Tienda*/
	height: 8%;
	/* z-index: 1; */
}
.contenedor_71{/*afiliacion*/
	grid-column-start: 0;	
	grid-column-end: 1;
	padding-bottom: 0%;
	margin-top: 0%;
}
.contenedor_73{/*ciudad*/
	width: 90%;
	grid-template-rows: 20%;
}
.contenedor_74{/*ciudad*/
	row-gap: 10%;
	margin-bottom: 50%;
}
.contenedor_75{/*ciudad*/
	position: initial;
}
.contenedor_76{/*Categorias_Ajax*/
	grid-template-columns: 100%;
	padding-left: 5%;
	margin-top: 10%;
}
.contenedor_77{/*Categorias_Ajax_V.php*/
	margin: 10% auto 1% auto;
	width: 50%;
}
.contenedor_79{/*afiliacion*/
	margin-top: 15%;
} 
.contenedor_80{/*registroCom - cuenta_editar*/
	width: 100%;
}
.contenedor_83{/*cuenta_editar*/
	position: initial;
	width: 90%;
}
.contenedor_84{/*cuenta_editar - planes*/
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: column; */
	padding: 10%;
	margin-top: 15%;
	align-content: flex-start !important; /*Rompe la distribución proporcional verticaly coloca los div hijos desde el top, debe tener la propiedad flex-wrap = wrap. la distribucion vertical proporcional ocurre cuando el contenedor general tiene altura de 100%*/
}
.contenedor_87{/*cuenta_editar*/
	grid-column-start: initial;
	grid-column-end: initial;
	width: 100%;
	margin-top: 20%;
}
.contenedor_89{/*Secciones_Ajax*/
	grid-template-columns: 45% 45%;
	column-gap: 4%;/*espacio entre columnas*/
}
.contenedor_90{/*opciones*/
	top: 8%;
}
.contenedor_95{/*cuenta_productos - opciones*/
	width: 100%;
	margin-bottom: 5%;
}
.contenedor_98{/*footer*/
	display: flex;
	justify-content: space-between;
	position: initial;
	width: 50%;
	margin: auto;
	padding-top: 2%;
}
.contenedor_99{/*afiliacion*/
	margin: 15% auto;
	width: 50% !important;
	padding: 1% 2%;
}
.contenedor_101{/*cuenta_productos*/
	/* display: flex;
	justify-content: space-between;
	width: 100% !important;
	margin: auto; */
}
.contenedor_103{/*cuenta*/
	width: 90%;
	margin: 20% auto;
	padding-top: 5% !important;
}
.contenedor_104{/*cuenta*/
	width: 100%;
	margin: auto;
	grid-template-columns: 100%;
}
.contenedor_106{/*cuenta_editar*/
	/* background-color: yellow!important; */
	margin: 3% auto 10% auto !important;
}
.contenedor_107{/*cuenta_editar*/
	/* background-color: yellow!important; */
	width: 60%;
	margin: auto;
}
.contenedor_107:hover{/*cuenta_editar*/
	cursor: pointer !important;
}
.fieldset_1{/*registroCom - registroDes*/
	margin: 10% auto;
	width: 90%;
	padding: 2% ;
}
.figure_1{/*opciones*/
	border-color: rgba(51, 51, 51, 0.3);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	padding: 2%;
	margin-left: 20%;
}
.footer{
	margin-top: 0% !important;
	padding-top: 0%;
	font-weight: normal;
}
.h1_1{/*carrito registroCom - tiendas*/
	font-size: 1.1em;
}
.h1_2{/*inicio*/
	font-size: 2em;
	text-align: left;
}
.h1_3{/*opciones - carrito*/
	width: 85%;
	height: 1em;
	line-height: 1em;
}
.h1_4{/*ciudad*/
	/* padding: 2%; */
}
.h1_7{/*cuenta_productos*/
	/* background-color: red; */
	font-size: 1.7em !important;
	margin: 2% auto;
}
.h1_8{/*cuenta_editar*/
	font-size: 1.1em;
	font-weight: normal;
	display: inline;
}
.h2_1{/*inicio*/
	font-size: 0.9em;
}
.h2_2{/*carrito*/
	font-size: 0.9em;
}
.h2_4{/*inicio*/
	width: 100%;
	font-size: 0.9em;
	top: 12%;
}
.h3_1{/*footer - afiliacion - planes*/
	font-size: 0.6em;
}
.h4_1{/*footer*/
	font-size: 1em;
	font-weight: normal;
}
.h5_1{/*footer*/
	font-size: 0.9em;
}
.header_1{/*header*/
	height: 10%;
}
.hr_1{/*carrito*/
	width: 28%;
}
.hr_4{/*header_Tienda*/
	display: block;
}
.imagen_2{/*cuenta_editar_prod*/
	width: 100px;
	height: 100px;
}
.imagen_3{/*footer*/
	width: 15% !important;
	margin-bottom: 3%;
}
.imagen_5{/*cuenta_editar*/
	width: 23%;
}
.imagen_7{/*cuenta_productos*/
	object-fit: contain !important; /*esta propiedad necesita el ancho y alto de la imagen definidos*/
	width: 100px;
	height: 100px;
	margin-bottom: 5%;
}
.input_3{/*vitrina*/
	width: 100%;
}
.input_5{/*header*/
	padding-top: 2%;
}
.input_6{/*carrito cuenta_producto*/
	font-size: 0.9em;
	width: 50px !important;
}
.input_9{/*registroCom - registroDes - carrito - login - cuenta_editar*/
	margin: 0% auto 4% auto !important;
	font-size: 0.8em;
	line-height: 30px;
	width: 100%;
	padding-left: 5%;
}
.input_11{/*carrito*/
	padding-left: 0%;
	width: 90%;
}
.input_12{/*cuenta_editar*/
	width: 90%;
}
.input_13{/**/
}
.input_14{/*cuenta_productos*/
	text-align: center;
	margin-left: 7%;
}
.label_1{/*vitrina*/
	padding: 3%;
	font-size: 1.2em;
	width: 100% !important;
}
.label_4{/*opciones*/	
	width: 60% !important;
}
.label_6{/*inicio*/
	width: 50px;
	margin-right: 5%;
}
.label_8{/*header_AfiCom*/
	font-size: 1em;
}
.label_12{/*carrito*/
	font-size: 0.9em;
	padding: 1%;
	display: inline-block;
	margin-right: 5%;
	margin-bottom: 0.5%;
}
.label_13{/*cuenta_editar*/
	padding-left: 0%;
	font-size: 1.1em;
	margin-bottom: -3%;
}
.label_17{/*header_Tienda*/
	/* width: 85%; */
	margin-left: 15%;
	height: 1.8em;
	line-height: 1.8em;
	font-size: 1.7em;
}
.label_18{/*Seleccionees_Ajax*/
	font-size: 0.9em;
	margin: 5% auto !important;
}
.label_19{/*cuenta_editar*/
	width: 90% !important;
}
.label_20{/*login*/
	font-size: 0.9em;
}
.label_21{/*cuenta_productos*/
	width: 40%;
}
.label_22{/*cuenta_editar*/
	width: 100% !important;
	margin-top: 15%;
}
.label_22:hover{/*cuenta_editar*/
	cursor: default;
	background-color:  rgb(31, 161, 118);
}
.legend_1{/*registroCom - registroDes*/
	font-size: 1.1em;
	margin-left: 1%;
}
.li_1{/*carrito*/
	line-height: 2em;
}
.li_2{/*ciudad*/
	font-size: 1.1em;
}
.menuResponsive{/*Todas las páginas*/
	padding-top: 0%;
	width:48%; 
	margin-left: -48%;/*oculta el menu responsive*/
	transition: all 0.5s;
}
.menuResponsive ul{/*Todas las páginas*/
	background-color:rgb(239, 245, 245);
	border-bottom-color: rgb(51, 51, 51);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	flex-direction: column;
	width: 100%;
}
.menuResponsive li{/*Todas las páginas*/
	height: 40px;
	padding-top: 5%;
	width: 100%;
	flex-grow: 1;/*distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
}
.menuResponsive li a{/*header*/
	color: rgb(51, 51, 51);
	font-size: 15px;
	width: 100%;
	text-align: left;
	padding-left: 5%;
}
.menuResponsive li a:hover{/*Todas las páginas*/
	background-color: rgb(51, 51, 51) !important;
	color: white;
	/* font-weight: bold; */
	font-size: 15px;
	width: 100%;
}
.p_1{/*alert - afiliacion*/
	padding-top: 20%;
	font-size: 1.3em;
}
.p_4{/*login*/
	margin-top: 20%;
}
.p_5{/*afiliacion*/
	margin: 2% auto 1% auto ;
	text-align: center;
}
.p_6{/*cuenta_editar - planes*/
	margin-top: 5%;
	font-size: 1.1em;
}
.p_7{/*inicio*/
	width: 90%;
	font-size: 1.1em;
}
.p_8{/*afiliacion*/
	padding-top: 20%;
	font-size: 1.3em;
}
.section_2{/*inicio*/
	margin-top: 30%; 
}
.section_5{/*afiliacion - tiendas - vitrina*/
	margin-top: 0%;
	padding-top: 1%;
}
.section_6{/*afiliacion*/
	height: 150%;
}
.section_8{/*Secciones_Ajax*/
	padding-top: 15%;
}
.section_9{/*opciones*/
	padding-top: 8%;
}
.section_13{/*cuenta_editar*/
	position: absolute;
	top:  0%;
	left: 0%;
	padding: 5%;
}
.section_14{/*planes*/
	padding-top: 20%;
	width: 90%;
	margin: auto;
}
.select_1{/*inicio*/
	height: 30px;
	width: 75% !important;
}
.span_1{/*inicio*/
	font-size: 3em !important;
}
.span_2{/*header*/
	font-size: 1.3em !important;
	padding: 5%;
}
.span_3{/*inicio*/
	font-size: 1.2em;
}
.span_4{/*inicio*/
	font-size: 1em;
}
.span_5{/*opciones*/
	margin-top: 1%;
	left: 10%;
}
.span_6{/*inicio*/
	font-size: 2em;
}
.span_8{/*inicio - opciones*/
	font-size: 5em;
	line-height: 1em;
}
.span_9{/*cuenta_publicar - opciones*/
	padding-top: 5%;
	font-size: 6em;
}
.span_10{/*cuenta_deditar*/
	margin-left: 1% !important;
}
.span_15{/*header_inicio - header - header_AfiCom*/
	display: block;
	color: rgb(239, 245, 245);
}
.span_16{/*inicio*/
	margin-left: 90%;
}
.tapa{/*header_Tienda*/
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 400%!important;
	background-color: rgba(0, 0, 0, 0.8);
}
.textarea_1{/*carrito*/
	width: 100%;
	padding-left: 5%;
	margin-top: 2%;
}
.td_1, .td_2, .td_3{/*carrito*/
	font-size: 0.9em;
}
.th_1{/*carrito*/
	width: 15%;
}
.th_2{/*carrito*/
	width: 50%;
}
.th_4{/*carrito*/
	height: 30px;
	font-size: 0.6em;
}
.th_5{/*carrito*/
	width: 15%;
}
.ul_1{/*carrito*/
	margin-left: 5%;
	padding: 0% 1%;
}
.ul_2{/*ciudad*/
	padding-top: 5%;
}
ul .menuContenedor_2{/*header.php #040652  index.php*/
	margin-top: -10%;
}
}