@media screen and (min-height: 750px) and (max-height: 900px){/*aplicará en cualquier medio con dimensiones menores a lo indicado*/
    
    .div__Botones--uno{/*inicio*/
        margin-top: 190%;/*no se utiliza la propiedad "top" para que pueda desplazarse con la diapositiva	 */
        left: 5%; 
    }
    .div__Botones{/*inicio*/
        top: 90%;
    }
    .br_3{/*inicio*/
        display: none;
    }
    .section_1--cont__radios{/*inicio*/
        height: 13%;
    }
}