@media (max-width: 800px){/*aplicaría en cualquier medio con dimensiones menores a lo indicado*/

.header_1{/*header*/
	height: 10%;
}
.contenedor_1{/*header*/
	margin-left: 5%;
}
.contenedor_3{/*header*/
	grid-template-columns: 65fr 35fr;
}
.contenedor_6{/*inicio*/
	margin-bottom: 10%;
}
.contenedor_7{
	margin-top: 15%;
	min-height: 35%;
}
.contenedor_8{/*footer*/
	margin-top: 50% !important;
}
.contenedor_10, .contenedor_10a{/*vitrina - tiendas*/
	grid-template-columns: 100fr;
	width: 90%;
}
.contenedor_13{/*opciones*/
	width: 90%;
	margin:4% auto;
}
.contenedor_16{/*vitrina*/
	text-align: right;
	margin-top: 4%;
	margin-right: auto;
}
.contenedor_19{
	grid-template-columns: 75fr 25fr;
}
.footer{
	padding-top: 5%;
	font-weight: normal;
}
.h2_1{/*inicio*/
	font-size: 1em;
}
.h4_1{/*footer*/
	font-size: 1em;
	font-weight: normal;
}
.h5_1{/*footer*/
	font-size: 0.9em;
}
.input_3{/*vitrina*/
	width: 100%;
}
.label_1{/*vitrina*/
	padding: 3%;
	font-size: 0.9em;
	width: 100% !important;
}
.p_1{/*vitrina*/
	padding-top: 30%;
	font-size: 1.4em;
	text-align: center;
}
.section_2{/*inicio*/
	padding-top: 33%; 
}
.span_1{/*header*/
	margin-top: 10%;
}
.span_2{/*header*/
	font-size: 1.3em !important;
	padding: 10%;
}
.span_3{/*inicio*/
	font-size: 1.2em;
}
.span_4{/*inicio*/
	font-size: 1em;

}

}